.input-control {
    min-width: 320px;
}

:global(.button).search-button {
    background: #bd1f1f;
    border: none;
}

:global(.icon).search-icon {
    color: white;
}

.items {
    flex-direction: column;
}

.food {
}

.foodDrop {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.location {
    background-color: black;
}

.locationType {
    padding: 10px;
}

.button {
    size: 30px;
}